// https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
// https://learn.microsoft.com/en-us/windows/win32/api/verrsrc/ns-verrsrc-vs_fixedfileinfo

// ===================================================================================== 0
LANGUAGE 0, 0 // language = Neutral, sublanguage = Neutral

SOURCE_CONTROL_ID SCID "../SOURCE_CONTROL_ID.txt"

1 VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK  0x17
FILEFLAGS      0x0
FILEOS         0x00000004L // VOS__WINDOWS32
FILETYPE       0x2L // VFT_DLL
FILESUBTYPE    0x0L // VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0" // language code = U.S. English, character-set identifier = Unicode
        {
            VALUE "LegalCopyright", "PULS3"
            VALUE "InternalName", "PULS3 Client API (win32)"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "CompanyName", "PULS3"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "FileDescription", "PULS3 Client API"
            VALUE "Source Control ID", "8330923"
            VALUE "OriginalFilename", "steam_api.dll"
            VALUE "ProductName", "PULS3 Client API"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0 // English language (0x409) in the Windows ANSI codepage (1252)
    }
}



// ===================================================================================== 1033
/*
 * +-------------------------+-------------------------+
 * |     SubLanguage ID      |   Primary Language ID   |
 * +-------------------------+-------------------------+
 * 15                    10  9                         0   
 */
// 1033 = English - United States 
// = 0x0409
// = 0000 0100 0000 1001
// = 
LANGUAGE 0x09, 0x01 // language = English, sublanguage = US

1 VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK  0x17
FILEFLAGS      0x0
FILEOS         0x00000004L // VOS__WINDOWS32
FILETYPE       0x2L // VFT_DLL
FILESUBTYPE    0x0L // VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0" // language code = U.S. English, character-set identifier = Unicode
        {
            VALUE "CompanyName", "PULS3"
            VALUE "FileDescription", "PULS3 Client API"
            VALUE "FileVersion", "1, 0, 0, 0"
            VALUE "InternalName", "PULS3 Client API"
            VALUE "LegalCopyright", "PULS3"
            VALUE "OriginalFilename", "steam_api.dll"
            VALUE "ProductName", "PULS3 Client API"
            VALUE "ProductVersion", "1, 0, 0, 0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0 // English language (0x409) in the Windows ANSI codepage (1252)
    }
}
